<?xml version="1.0"?>
<!--internalLogToTrace="true" throwExceptions="false" internalLogToConsole="true" async="true"-->
<nlog  async="true" throwExceptions="false" internalLogFile="c:\temp\internal_nlog_file.txt" internalLogToTrace="true">
  <extensions>  
    <add assembly="WealthTools.Common.Logger" /> 
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.WindowsEventLog" />
  </extensions>
  <targets>
    <target name="AsyncErrorLog" type="AsyncWrapper">
      <target name="failover-errorlog" type="FallbackGroup" returnToFirstOnSuccess="false">
           <target name="ErrorLog" type="OracleErrorLog" />
          <target name="file" type="File" fileName="c:\\temp\\NLog.log" layout="${level:uppercase=true}|${event-properties:item=logid}|${event-properties:item=logdata}"/>
          <target name="eventlog" type="EventLog" source="Application" layout="${level:uppercase=true}|${message}|${event-properties:item=logid}|${event-properties:item=logdata}"/>
      </target>
    </target>
    <target name="AsyncUsageLog" type="AsyncWrapper">
      <target name="UsageLog" type="OracleUsageLog" />
    </target>
    <!--Uncomment for local Debugging-->
    <!--<target name="console" type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${machinename}|${logger}|${event-properties:item=tsatoken}|${event-properties:item=brokerid}|${event-properties:item=module}|${event-properties:item=component}|${event-properties:item=action}|${event-properties:item=context}|${event-properties:item=requestid}|${event-properties:item=errorlogid}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}|"/>-->
    <!--<target name="debugger" type="Debugger" layout="${longdate}|${level:uppercase=true}|${machinename}|${logger}|${event-properties:item=tsatoken}|${event-properties:item=brokerid}|${event-properties:item=module}|${event-properties:item=component}|${event-properties:item=action}|${event-properties:item=context}|${event-properties:item=requestid}|${event-properties:item=errorlogid}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}|"/>-->
    <target name="AsyncTraceLog" type="AsyncWrapper">
        <target  name="tracefile" type="File" fileName="c:\\temp\\NLogTrace.log" layout="${level:uppercase=true}|${event-properties:item=logid}|${event-properties:item=logdata}"/>
    </target>
  </targets>
  <rules>
    <logger name="*"  minlevel="Warn" writeTo="AsyncErrorLog" />
    <logger name="*"  minlevel="Trace" writeTo="AsyncTraceLog" />
    <logger name="*" level="Info" writeTo="AsyncUsageLog">
      <filters>
        <when condition="equals('${event-properties:item=brokerid}','999999')" action="Log" />
        <when condition="equals('${event-properties:item=institutionid}','6027')" action="Log" />
      </filters>
    </logger>
    <!--Uncomment for local Debugging-->
    <!--<logger name="*" minlevel="Trace" writeTo="console,debugger" /> -->
  </rules>
</nlog>